
body{
    font-family: 'Georgia', sans-serif;
    background-color: #292929;
    color: #ffffff;
    margin: 20px;
}
header{
    text-align: center;
    background-color: rgb(255, 85, 85);
    align-items: baseline;
    margin: -21px; margin-bottom: 20px;
    
}
#bunnyicon{
    height: 100px; width: 150;
}

#LISTA-1{ 
    background-color: rgb(255, 188, 99)
    ;color: #000000;
    
}
#tituloprincipal{
    font-size: 50px;
} 
#botones{

}